extends ../layout

block content
  include ../navbar
  #main.container
    h1 epi.today

    h4 #{student.email}
    h4
      span.badge.badge-primary tek#{student.year}
    p GPA: #[b #{student.gpa}]
    p Credits acquired: #[b #{student.credits}]
    p Log time: #[b #{student.log} hours]

    hr

    h2 Quick links
    p A quick glance at a day
    ul.pagination
      li.page-item.date-button
        a.custom-shadow.btn.btn-outline-primary.btn-lg(role="button" href="/today" aria-pressed="true") Today
      li.page-item.date-button
        a.custom-shadow.btn.btn-outline-primary.btn-lg(role="button" href="/tomorrow" aria-pressed="true") Tomorrow

    hr

    h2 Date selector
    p Plan your day ahead
    p (coming soon)
