extends ../layout

block content
  include ../navbar
  #main.container
    h1 epi.today

    h4 #{student.name}
    h4
      span.badge.badge-primary tek#{student.year}
    p GPA: #[b #{student.gpa}]
    p Credits acquired: #[b #{student.credits}]
    p Log time: #[b #{student.log} hours]

    hr

    h2 Quick links
    p A quick glance at a day
    ul.pagination
      li.page-item.date-button
        a.custom-shadow.btn.btn-outline-primary.btn-lg(role="button" href="/today" aria-pressed="true") Today
      li.page-item.date-button
        a.custom-shadow.btn.btn-outline-primary.btn-lg(role="button" href="/tomorrow" aria-pressed="true") Tomorrow

    hr

    h2 Date selector
    p Plan your day ahead
    .d-flex
      .date-selector.d-inline-flex#selectorContainer
          input(type="hidden")#selector
    a.custom-shadow.btn.btn-outline-primary.btn-lg.disabled#selectorLink(role="button" aria-pressed="true") See events

    hr

    h2 Account
    p You are logged in as #[b #{student.email}]
    a.custom-shadow.btn.btn-outline-danger.btn-lg(role="button" href="/auth/logout" aria-pressed="true") Log out

block javascript
  link(rel="stylesheet" href="https://unpkg.com/@chenfengyuan/datepicker@1.0.9/dist/datepicker.min.css")
  script(src="https://unpkg.com/@chenfengyuan/datepicker@1.0.9/dist/datepicker.min.js")
  script(src="/selector.js")
